// Le footer
// ===========================

footer {
  color:@red;
  padding:.5em 1.0em .5em 1.0em;

  a {
    color:@red;
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color:@blue;
    }
  }


  @media (max-width: @screen-xs-max) {
    padding:.5em 0;
  }



  p {
    font:600 1.1em/1.3 @sans-serif-font;
    margin-top:.5em;
  }

  .logo {
    padding:0.5em 0 1.5em;
  }

  .right-aligned {
    text-align:right;

    @media (max-width: @screen-xs-max) {
      text-align:left;
    }
  }

  .social-buttons {
    margin-bottom:2em;

    @media (max-width: @screen-xs-max) {
      margin-left: -0.6em;
      margin-top: 1.3em;
    }
  }

  nav {
    ul {
      list-style:none;
      margin-bottom:2em;
      margin-top:3em;

      @media (max-width: @screen-xs-max) {
        margin-left: -0.4em;
        padding: 0;
        margin-top: 1em;
      }

      li {
        display:inline-block;
        padding:0;

        &:after {
          content:"//";
        }
        &:last-child:after {
          display:none;
        }
        a {
          font:600 1.1em/1.3 @sans-serif-font;
          padding-left:.5em;
          padding-right:.5em;

        }
      }
    }
  }

  ul.partner-logos {
    list-style: none;
    margin: 2.5em 0 0 0;
    padding:0;
    font-size:90%;

    li {
      display:inline-block;
      padding:0 1.4em 0 0;
      vertical-align: middle;

      &.avaris {
        img {
          //width:74px;
          //width:4.6em;
          height:auto;
        }
      }
      &.bonninski {
        img {
          //width:126px;
          //width:8em;
          height:auto;
          //padding-top:.2em
        }
      }
      &.bold-and-friendly {
        img {
          //width:124px;
          //width:7.8em;
          height:auto;
          //padding-top:.7em
        }
      }
    }

    @media (max-width:@screen-md-max) {
      font-size:72%;
    }
    @media (max-width:@screen-sm-max) {
      font-size:70%;
    }
    @media (max-width:@screen-xs-max) {
      font-size:94%;
    }
  }
}


/* mark the navi */

.impressum    footer    a.impressum,
.agb          footer    a.agb  {
  color:@blue;
}


// flexbox overrides


@media (min-width:@screen-sm-min) {

  footer {
    padding:.5em 1.0em 1.5em 1.0em;

    .container-fluid {
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;


      .logo-container {
        flex:1 1 10%;
        .logo {
          padding:0.5em 0 .5em
        }

      }
      .whatis {
        display:flex;
        flex-direction: column;
        flex: 1 0 20%;
      }
      .whois {
        display:flex;
        flex-direction: column;

        p {
          flex-grow:1;
        }
        .partner-logos {
          margin-top:0;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      .social-support {
        display:flex;
        flex-direction: column;
        flex:1 0 292px;

        .social-buttons {
          flex-grow:1;
        }

        nav {
          ul {
            margin: 0;
            padding:0;
          }
        }
      }
    }
  }
}