// some basic rules and helperclasses


// applies to all "section" elements, as well as header and footer


.padded-container {

  border: 15px solid #fff;
  border-top:0;

  @media (max-width: @screen-xs-max) {
    border: 10px solid #fff;
    border-top:0;
  }
}

.content > section {
  .padded-container;
  padding-top:3em;
  padding-bottom:5em;

  &.lesser-gap {
    padding-top:1em;
    padding-bottom:2em;
  }
  &.no-gap {
    padding-top:1em;
    padding-bottom:0em;
  }
}


// img's

img {
  width:100%;
  max-width:100%;
  height:auto;
}