// typographie

body {
  font-size:16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {}

h2 {
  font:700 3.6em/1.2 @serif-font;
  color:@blue;
}

h3 {}

h4 {
  font:700 1.8em/1.4 @sans-serif-font;
  color:@red;
  margin-bottom:-1em;
}

dl {
  display:flex;
  flex-direction:row;
  margin:.2em 0 0.3em 0;
}
dt {
  width:25%;
}
dd {
  width:65%;
}


p {
  font:1.8em/1.4 @sans-serif-font;
}

small {
  font:500 1.1em/1.4 @sans-serif-font;
  margin:2em 0 2em;
  display:block;
}

blockquote {
  border-left:4px solid @red;
  padding-left:1.5em;
  margin:0;

  p {
    font:600 1.2em/1.4 @sans-serif-font;
    color:@red;
  }
}

a.btn {
  font:700 1.3em/1.4 @sans-serif-font;
  color:@red;
  padding:.6em 3.2em;
  border:2px solid @red;
  text-decoration:none;
  display: inline-block;
  margin: 1em 0 2em;
  background:transparent;
  transition:all .2s;

  &:hover {
    color:@white;
    background:@red;
  }
}

.content section ul {
  margin:1em 0 3em;
  padding:0;
  list-style:none;

  li {
    margin: 2px 0;
    padding: 0.5em 0.8em;
    display:inline-block;
    background: @red;
    color:@blue;
    font:700 1.8em/1 @sans-serif-font;
  }
}