/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: @sans-serif-font;
}

// the header
// ===================================

header {
  background: url(../img/baer.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 54vw;

  .padded-container;
  border: 15px solid #fff;
  // first element has top border, the rest ist "faux collapsing"

  .hero {
    opacity: 0.92;
    background-image: linear-gradient(149deg, #1E1964 2%, #8D294D 68%, #E23535 100%);
    position: relative;
    height: 100%;
  }

  .logo {
    padding: 2em;
    margin:0;
    color:@white;

    @media (max-width: @screen-xs-max) {
      padding: 1em;

      svg {
        width: 84px;
        height: 100px;
      }
    }
  }

  h1 {
    margin: 0;
    padding: 11vw 8vw;
    font: 900 11.2vw/0.8 @sans-serif-font;
    letter-spacing: -0.02em;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
  }

  // let's try a gradient sometime soon...
  h1 {
    //background-image: url(https://jsbin-user-assets.s3.amazonaws.com/simevidas/141208142600-03-gender-neutral-gifts-horizontal-large-gallery.jpg);
    //background-repeat: no-repeat;
    //background-size: cover;
    //-webkit-background-clip: text;
    //background-clip: text; /* in the future? */
    color: @white;

    span {
      color: @red;
    }
  }
}


// recolor-the logo:

.logo.white svg path {
  fill:#fff;
}