.ref-overview {
  margin-bottom:-1em;
  a {
    position: relative;
    display:block;
  }
  figure {
    margin:0;
    padding:0;
    figcaption {
      position: absolute;
      bottom:1.2em;
      left:1.2em;

      p {
        font:600 1.4em/1.4 @sans-serif-font;
      }
      span {
        display: inline-block;
        background: @blue;
        color: @red;
        margin-bottom:2px;
        padding:.2em .6em;
      }
      .icon-next {
        width:1.3em;
        height:1.3em;
      }

    }
  }
}


// show all

.show-all {
  background:@blue;
  text-align:center;
  padding:1em;

  .icon-overview {
    height:2em;
    width:2em;
    color:@red;
  }
}